@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    direction: rtl;
}
div {
    display: block;
}
@media (min-width: 1400px){
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1440px;
	}
}
/* Top Header */
.top-header {
    background: none;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header-info-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

.header-info-left ul li {
    display: inline-block;
    margin-right: 10px;
    }

.header-info-left ul li a {
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;

    }

.header-info-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }

.header-info-right ul li {
    margin-right: 10px;
    }

.header-info-right ul li a {
    color: #333;
    padding-left: 10px;
    text-decoration: none;
    }
hr{
    border-bottom: 1px solid rgb(255, 255, 255 / 25%);
    margin: 0 90px;
    background: none;
}
/* Header */
.header{
    
    position: fixed;
    top: 0; left: 0; right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo img{
    width: 250px;
    padding: 30px;
}
header .navbar ul{
    list-style: none;
    background: #002A56;
}
header .navbar ul li{
    position: relative;
    float: right;
}
header .navbar ul li a {
    font-size: 12px;
    padding: 20px;
    color: #333;
    display: block;
    font-weight: bold;
}
header .navbar ul li a:hover {
    color:  rgb(0, 125, 86);
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display: none;
    border: none;
    border-radius: 10px;
    -webkit-transition: all .3s ease-out 0s;
}
header .navbar ul li ul li {
    width: 100%;
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}
.navbtn{
    background-color: #007D56;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;    
    margin-left: 20px;
}
/* Responsive header */
@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;        
    }
    header .navbar ul li ul li {
        background: #eee;
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}
/* Hero Background Image */
.hero-bg img{
    width: 100%;
    top: 0;
    opacity: 0.7;

}
/* Footer */
.footer{    
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0 10px;
    display: block;
}
.footer .single-footer {
    margin: 20px 0 0;
}
.footer .footer-bottom {
	margin-bottom:20px;
    padding: 25px 0;
}
.footer .footer-top .container {
    padding: 50px 20px;
}
.footer .footer-top .container {
    background: linear-gradient(318deg, #007D56 10.45%, #002A56 100.78%);
    padding: 50px;
    border-radius: 50px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.footer .single-footer.f-about .logo img{
    width:180px
}
.footer .single-footer.f-about p{
    color:#d2d6dc;
    margin-top:20px;
    font-size:14px
}

.footer .footer-bottom .social {
    text-align: right;
}
.footer .footer-bottom .social li{
    display:inline-block;
    margin-right:17px
}

.footer .footer-bottom .social li a{
    color:#002a56;
    font-size:17px
}
.footer .footer-bottom .social li a:hover{
    color:#007D56
}
.footer .footer-bottom .social li:last-child{
    margin:0
}
.footer .footer-bottom .copyright-text{
    color: #002a56;
    font-size: 14px;
    font-weight: 800;
    text-align: right;
}

.footer .footer-bottom .copyright-text a{
    color:#002a56
}
.footer .footer-bottom .copyright-text a:hover{
    color:#007D56
}
.footer .single-footer.f-link li{
    display:block;
    margin-bottom:12px;
}
.footer .single-footer.f-link li:last-child{
    margin:0;
}
.footer .single-footer.f-link li a {
    font-size: 14px;
    font-weight: 400;
    color: #d2d6dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 150px;
}
.footer .single-footer.f-link li a:before {
	content: "\ea5c";
	font: normal normal normal 10px/1 'LineIcons';
}

.footer .single-footer.f-link li a:hover{
    color:#fff
}
.footer .single-footer h3{
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin-bottom: 35px;
    color: #fff;
    text-align: right;
}

.footer .single-footer{
	color:#d2d6dc
}
.footer ul.contactul {
    text-align: right;
    list-style: none;
    padding: 0 0 0 10px;
    margin: 35px 0 0 0;
    color: #ffffff;
}
.footer ul.contactul p {
    font-size: 14px;
}
.footer ul.contactul li span.tel{
    display: inline-block;
    direction: ltr;
    font-size: 14px;
}

.footer ul.contactul li i {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 18px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5)
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}
/* Bootstrap */
@media (min-width: 992px) {
    .col-lg-auto {
        flex:0 0 auto;
        width: auto
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}
